{% extends "base.html" %}
{% block body %}
<div class="signin-wrapper">
    <div class="sign-panels">
        <div class="verify-security">
            <div class="signin-title">
                <span>Security Questions</span>
                <p>Answer the following questions</p>
            </div>

            <form method="POST" action="/check_security_answers">
                <div>
                    <label for="security_question_1">What is your favorite activity?</label>
                    <input type="text" class="form-control" id="security_question_1" name="security_question_1" required>
                </div>
                <div>
                    <label for="security_question_2">What is your favorite color?</label>
                    <input type="text" class="form-control" id="security_question_2" name="security_question_2" required>
                </div>
                <button type="submit" class="btn-signin">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}